.drip {
  color: purple;
  text-shadow: 2px 2px black;
  animation: drip 2s infinite;
}
@keyframes drip {
  0% { transform: translateY(0); }
  50% { transform: translateY(2px); }
  100% { transform: translateY(0); }
}


body.no-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.gallery-turbulence {
  animation: shake-screen 0.5s infinite;
  will-change: transform;
  overflow: hidden;
  position: relative;
}

@keyframes shake-screen {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-2px, 1px);
  }
  40% {
    transform: translate(3px, -1px);
  }
  60% {
    transform: translate(-2px, -2px);
  }
  80% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes glowFade {
  0% {
    opacity: 0;
    filter: brightness(1);
  }
  100% {
    opacity: 1;
    filter: brightness(1.5) drop-shadow(0 0 10px #9b5cff);
  }
}

.animate-glow {
  animation: glowFade 7s ease-in-out forwards;
  pointer-events: none;
}

.substance-item:hover {
  filter: brightness(1.5);
  transition: filter 0.3s ease;
}

